<%= render "shared/nav" %>

<header>
  <div class="overlay"></div>
	<%= video_tag("video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted) %>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <%# <h1 class="display-3">Video Header</h1>
        <p class="lead mb-0">Using HTML5 Video and Bootstrap</p> %>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid bg-hero align-middle">
  <div class="container col-xxl-8 px-4 py-5">
		<div class="text-center">
			<h1 class="display-5 fw-bold text-white">Carreiras</h1>
			<div class="col-sm-12 mx-auto">
				<p class="p-hero text-white">
					A Instor te convida a fazer parte de uma das equipes mais revolucionárias do mercado.<br/>
					Planejar, desenvolver e realizar para que os nossos resultados sejam ainda maiores,
					é o que buscamos.
				</p>
				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
					<a href="#vacancy" class="btn btn-primary btn-lg px-4 gap-3 btn-hero">
						VENHA FAZER PARTE
					</a>
				</div>
			</div>
		</div>
  </div>
</div>

<div class="container col-xxl-8 px-4 pt-5">
	<h2 class="text-center">
		Instor Projetos e Robótica
	</h2>
	<p class="p-about text-center">
		Donec quis mi lectus. In molestie commodo augue. Aenean quis suscipit turpis. Maecenas fermentum sagittis arcu lobortis suscipit. Ut dolor odio, ultrices vitae ipsum ut, dapibus posuere sem. Integer et ullamcorper lorem. Cras gravida, dui quis pretium auctor, eros mi luctus dolor, ut luctus ante nulla quis augue. Pellentesque id odio suscipit, pulvinar justo a, tristique enim. Fusce blandit eu diam sed molestie.
	</p>
</div>

<div class="container">
	<div class="row height d-flex justify-content-center align-items-center">
		<div class="col-md-8">
			<div class="search">
			<%= search_form_for @q do |f| %>
				<%= f.collection_select :title_eq, Vacancy.all, :title, :title, {include_blank: 'Buscar por...'}, class: "form-control" %>
				<%= f.submit "Buscar", class: "btn btn-primary bt-submit" %>
			<% end %>
			</div>
		</div>
	</div>
</div>

<div class="container p-3" id="vacancy">
	<% @vacancy.each do |v| %>	
    <div class="col-12 col-md-8 mx-auto">
      <div class="card mb-3">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="card-title job-code"><%= v.code %></h5>
            <span class="badge job-bg"><%= v.work_model %></span>
          </div>
          <h6 class="card-subtitle mb-2 text-muted job-date">
            <%= l v.created_at, format: :long %>
          </h6>
          <h4 class="card-title pt-2"><%= v.title %></h5>
          <p class="card-text">
            <%= v.vacancy_location %>
          </p>
          <%= link_to "Aplicar", vacancy_path(v), class: "btn btn-success" %>
        </div>
      </div>
    </div>
	<% end %>
</div>

<%= render "shared/footer" %>