<%= render "shared/nav" %>

<div class="container-fluid bg-hero align-middle">
  <div class="container col-xxl-8 px-4 py-5">
		<div class="text-center">
			<%= image_tag "logo.png", class: "d-block mx-auto mb-4" %>
			<h1 class="display-5 fw-bold text-white">Carreiras Instor</h1>
			<div class="col-lg-6 mx-auto">
				<p class="lead mb-4 text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet sapien a libero vestibulum dapibus. Sed convallis neque eget sapien porta, eget fermentum tortor gravida. Aliquam at justo ac diam consequat congue. Cras eu ante non odio posuere condimentum. In molestie blandit consectetur.</p>
				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
					<a href="#vacancy" class="btn btn-primary btn-lg px-4 gap-3 btn-hero">Ver Vagas</a>
				</div>
			</div>
		</div>
  </div>
</div>


<div class="container ">
	<div class="row height d-flex justify-content-center align-items-center">
		<div class="col-md-8">
			<div class="search">
				<i class="fa fa-search"></i>
				<input type="text" class="form-control" placeholder="Pesquisar vagas...">
				<button class="btn btn-primary">Buscar</button>
			</div>
		</div>
	</div>
</div>

<div class="container p-3" id="vacancy">
	<% @vacancies.each do |v| %>	
	<div class="col-12 col-md-8 mx-auto">
	
		<div class="card mb-3">
			<div class="card-body">
				<div class="d-flex justify-content-between align-items-center">
					<h6 class="card-title job-code"><%= v.code %></h5>
					<span class="badge job-bg"><%= v.work_model %></span>
				</div>
				<h6 class="card-subtitle mb-2 text-muted job-date">
					<%= l v.created_at, format: :long %>
				</h6>
				<h4 class="card-title pt-2"><%= v.title %></h5>
				<p class="card-text">
					<%= v.vacancy_location %>
				</p>
				<%= link_to "Aplicar", home_path(v), class: "btn btn-success" %>
			</div>
		</div>
	
	</div>
	<% end %>
</div>

<!-- Job card grid >
<div class="container-fluid jobs">
	<div class="container" id="vacancy">
		<div class="row pt-4">
		<% @vacancies.each do |v| %>	
			<div class="col-md-4">
				<div class="card p-3 mb-3 ">
					<div class="d-flex justify-content-between">
						<div class="d-flex flex-row align-items-center">
							<div class="ms-2 c-details">
									<h6 class="mb-0">Código da vaga: <%= v.code %></h6> <span><%= l v.created_at, format: :long %></span>
							</div>
						</div>
						<div class="badge"> <span><%= v.work_model %></span> </div>
				</div>
				<div class="mt-5">
						<h3 class="heading"><%= v.title %><br><%= v.vacancy_location %></h3>
						<div class="mt-5">
						<%= link_to "Aplicar", home_path(v), class: "btn btn-success" %>
						</div>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>
<!- End Job card grid -->

<%= render "shared/footer" %>