<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Código da vaga: <%= @vacancy.code %></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="job-show">
          <div class="show-description">        
            <h4>Título da vaga:</h4>
            <p><%= @vacancy.title %></p>
          </div>
          <div class="show-description">        
            <h4>Área:</h4>
            <p><%= @vacancy.field %></p>
          </div>
          <div class="show-description">        
            <h4>Nível da vaga:</h4>
            <p><%= @vacancy.vacancy_level %></p>
          </div>
          <div class="show-description">        
            <h4>Descrição:</h4>
            <p><%= @vacancy.description %></p>
          </div>
          <div class="show-description">        
            <h4>Requisitos:</h4>
            <p><%= @vacancy.requirements %></p>
          </div>
          <div class="show-description">        
            <h4>Habilidades desejadas:</h4>
            <p><%= @vacancy.desired_skills %></p>
          </div>
          <div class="show-description">        
            <h4>Salário:</h4>
            <p><%= number_to_currency @vacancy.salary_range %></p>
          </div>
          <div class="show-description">        
            <h4>Local da vaga:</h4>
            <p><%= @vacancy.vacancy_location %></p>
          </div>
          <div class="show-description">        
            <h4>Modelo de trabalho:</h4>
            <p><%= @vacancy.work_model%></p>
          </div>
          <div class="show-description">        
            <h4>Jornada de trabalho:</h4>
            <p><%= @vacancy.working_day %></p>
          </div>

          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-6">
              <%= link_to "Editar", edit_dashboard_vacancy_path(@vacancy), class: "btn btn-success" %>
              <%= link_to "Deletar", dashboard_vacancy_path(@vacancy), 
              method: :delete, class:"btn btn-danger", data: { confirm: "Você tem certeza?" } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

