<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin"}) do |f| %>

  <%= image_tag "h-logo.png", class: "mb-4", alt: "", width: "72" %>

  <h1 class="h3 mb-3 font-weight-normal text-withe">Entrar</h1>
  
  <%= f.email_field :email, autofocus: true, autocomplete: "email",
  class: "form-control", placeholder: "Usuário" %>

  <%= f.password_field :password, autocomplete: "current-password",
  class: "form-control", placeholder: "Senha" %>

  <%= f.submit "Entrar", class: "btn btn-lg btn-success btn-block" %>
  <p class="pt-5 mb-3 copy">&copy; <%= Date.today.year %> - Instor Robótica</p>
  
<% end %>



